<html>
    <body>
    <form action="http://localhost:3000/post-button" method="POST">
    Title: <input type="text" name="title"><br />
    Scene-Body: <input type="text" name="body"><br />
    Scene-Location: <input type="text" name="location"><br />
    Scene-Characters:  <input type="text" name="tags"><br />
    Scene-Characters:  <input type="text" name="tags"><br />
    <input type="submit" value="Submit">
    </form>
    </body>
</html>